# =========================
# Secrets & Env
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# =========================
# Virtual Environments
# =========================
venv/
.env/
.venv/
conda-env/
.geo/

# =========================
# Generated reports & data
# =========================
reports/
app/reports/

# große Geodaten / Binaries
app/data/*.gpkg
app/data/*.tif
app/data/*.zip

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log